.Rproj.user
.Rhistory
.RData
.Ruserdata

/.ipynb_checkpoints
/modeling_cache
*.png

*.jar
*.rda
*.rds
*.csv
*.txt
*.html
*.cmd

SentiStrengthJavaManual.doc
/SentiStrengthCom

_targets/meta/

_targets/objects/


*.zip
